<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.torresinventario">
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Inventory">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EditorActivity"
            android:label="Add Product"
            android:parentActivityName=".Inventory">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Inventory" />
        </activity>

        <provider
            android:name=".data.ProductProvider"
            android:authorities="com.example.android.torresinventario"
            android:exported="false"
            android:grantUriPermissions="true">
        </provider>

        <activity
            android:name=".ProductDetail"
            android:label="Product Detail">
        </activity>
    </application>

</manifest>